aplikasi-absen-ws-client/src/wsdl/localhost_8080/aplikasi-absen-ws-server/AbsenWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/" name="AbsenWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/" schemaLocation="http://localhost:8080/aplikasi-absen-ws-server/AbsenWS?xsd=1"/>
</xsd:schema>
</types>
<message name="simpanKaryawan">
<part name="parameters" element="tns:simpanKaryawan"/>
</message>
<message name="simpanKaryawanResponse">
<part name="parameters" element="tns:simpanKaryawanResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="cariKaryawanByNip">
<part name="parameters" element="tns:cariKaryawanByNip"/>
</message>
<message name="cariKaryawanByNipResponse">
<part name="parameters" element="tns:cariKaryawanByNipResponse"/>
</message>
<message name="cariKaryawanByNama">
<part name="parameters" element="tns:cariKaryawanByNama"/>
</message>
<message name="cariKaryawanByNamaResponse">
<part name="parameters" element="tns:cariKaryawanByNamaResponse"/>
</message>
<message name="tambah">
<part name="parameters" element="tns:tambah"/>
</message>
<message name="tambahResponse">
<part name="parameters" element="tns:tambahResponse"/>
</message>
<portType name="AbsenWS">
<operation name="simpanKaryawan">
<input wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/simpanKaryawanRequest" message="tns:simpanKaryawan"/>
<output wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/simpanKaryawanResponse" message="tns:simpanKaryawanResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="cariKaryawanByNip">
<input wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/cariKaryawanByNipRequest" message="tns:cariKaryawanByNip"/>
<output wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/cariKaryawanByNipResponse" message="tns:cariKaryawanByNipResponse"/>
</operation>
<operation name="cariKaryawanByNama">
<input wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/cariKaryawanByNamaRequest" message="tns:cariKaryawanByNama"/>
<output wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/cariKaryawanByNamaResponse" message="tns:cariKaryawanByNamaResponse"/>
</operation>
<operation name="tambah">
<input wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/tambahRequest" message="tns:tambah"/>
<output wsam:Action="http://server.ws.absen.aplikasi.ws.training.endy.muhardin.com/AbsenWS/tambahResponse" message="tns:tambahResponse"/>
</operation>
</portType>
<binding name="AbsenWSPortBinding" type="tns:AbsenWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="simpanKaryawan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cariKaryawanByNip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cariKaryawanByNama">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambah">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AbsenWS">
<port name="AbsenWSPort" binding="tns:AbsenWSPortBinding">
<soap:address location="http://localhost:8080/aplikasi-absen-ws-server/AbsenWS"/>
</port>
</service>
</definitions>